{% extends 'salon/base.html' %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}

{% block content %}
{% if message %}
 <h5>{{ message }}</h5>
{% else %}
    <h1>Booking success</h1>
    <h5> Dear {{user.username}}, You have the following booking: </h5><br>
        {% for detail in booked %}
            <strong>{{detail.service.name}}</strong> for <strong>{{detail.booking_from}}</strong><br>
            Specialist <strong>{{detail.specialist.name}}</strong><br>
            <p><u>{{detail.service.name}} cost: {{detail.service.price}}</u></p>
        {% endfor %}
    <p>Have a nice day!</p>
{% endif %}
{% endblock %}