{% extends 'salon/base.html' %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}

{% block content %}
{% if message %}
 <h5>{{ message }}</h5>
{% else %}
    <h2>Booking success</h2>
    <h5> Dear {{user.username}}, You have the following booking: </h5><br>
        {% for detail in booking_page %}
            <strong>{{detail.service.name}}</strong> for <strong>{{detail.booking_from}}</strong><br>
            Specialist <strong>{{detail.specialist.name}}</strong><br>
            <p><u>{{detail.service.name}} cost: {{detail.service.price}}</u></p>
        {% endfor %}

<div class="pagination justify-content-center">
    <span class="step-links">
        {% if booking_page.has_previous %}
            <a href="?page=1">&laquo;First</a>
            <a href="?page={{ booking_page.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ booking_page.number }} of {{ booking_page.paginator.num_pages }}.
        </span>

        {% if booking_page.has_next %}
            <a href="?page={{ booking_page.next_page_number }}"> Next </a>
            <a href="?page={{ booking_page.paginator.num_pages }}"> Last&raquo;</a>
        {% endif %}
    </span>
  </div>
{% endif %}
{% endblock %}